<h1>Data Science Fundamentals Final Project</h1>
<h2>- Phil Roesch and Frankie Guarino</h2>

Our data set comes from https://www.kaggle.com/sakshigoyal7/credit-card-customers

<b>Description:</b><br/>
A manager at the bank is disturbed with more and more customers leaving their credit card services. They would really appreciate if one could predict for them who is gonna get churned so they can proactively go to the customer to provide them better services and turn customers' decisions in the opposite direction

I got this dataset from a website with the URL as https://leaps.analyttica.com/home. I have been using this for a while to get datasets and accordingly work on them to produce fruitful results. The site explains how to solve a particular business problem.

Now, this dataset consists of 10,000 customers mentioning their age, salary, marital_status, credit card limit, credit card category, etc. There are nearly 18 features.

We have only 16.07% of customers who have churned. Thus, it's a bit difficult to train our model to predict churning customers.

In [22]:
# !unzip archive.zip
# !rm archive.zip

Archive:  archive.zip
  inflating: BankChurners.csv

In [33]:
import pandas as pd

In [51]:
data = pd.read_csv('BankChurners.csv')
print(data.shape)
del data['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1']
del data['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']
# data.columns
data.head()

(10127, 23)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [52]:
data['Attrition_Flag'].unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [53]:
data['Education_Level'].unique()

array(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

In [54]:
data['Marital_Status'].unique()

array(['Married', 'Single', 'Unknown', 'Divorced'], dtype=object)

In [55]:
data['Income_Category'].unique()

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

In [56]:
data['Card_Category'].unique()

array(['Blue', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [57]:
data.groupby('Attrition_Flag').describe()

                  Avg_Open_To_Buy                                          \
                            count         mean          std   min     25%
Attrition_Flag
Attrited Customer          1627.0  7463.216472  9109.208129   3.0  1587.0
Existing Customer          8500.0  7470.273400  9087.671862  15.0  1184.5

                                            Avg_Utilization_Ratio            \
                      50%      75%      max                 count      mean
Attrition_Flag
Attrited Customer  3488.0  9257.50  34516.0                1627.0  0.162475
Existing Customer  3469.5  9978.25  34516.0                8500.0  0.296412

                   ...   Total_Trans_Amt          Total_Trans_Ct             \
                   ...               75%      max          count       mean
Attrition_Flag     ...
Attrited Customer  ...           2772.00  10583.0         1627.0  44.933620
Existing Customer  ...           4781.25  18484.0         8500.0  68.672588


                         std   min   25%   50%   75%    max
Attrition_Flag
Attrited Customer  14.568429  10.0  37.0  43.0  51.0   94.0
Existing Customer  22.919011  11.0  54.0  71.0  82.0  139.0

[2 rows x 120 columns]